<div class="toolbar">
    <div class="left">
        <div class="brand">
            <a [routerLink]="['/']">
                <h1 style="color: white;">{{title}}</h1>
            </a>
        </div>
        <div class="page_routes">
            <div class="link" role="button">
                <a [routerLink]="['/']" class="button fancy-button">
                    Home
                </a>
            </div>
            <div class="link" role="button">
                <a [routerLink]="['/about']" class="button fancy-button">
                    About Us
                </a>
            </div>
        </div>
    </div>
    
    <div class="right">
        <div class="link" role="button">
            <a class="button fancy-button" [routerLink]="['/index']">
               <!-- will need some kind of icon here --> User login
            </a>
        </div> 
        <div class="link" role="button">
            <button onclick="document.getElementById('id01').style.display='block'" style="background-color:#0f0a0a;width:auto;" > <a [routerLink]="['/login']">Login</a></button>
            <button onclick="document.getElementById('id01').style.display='block'" style="background-color:#0f0a0a;width:auto;" > <a [routerLink]="['/signup']">SignUP</a>  </button>
        
        </div>       
    </div>

</div>