<h1>About us</h1>
<div class="about-container card-container">
  <div class="user section1">
    <div class="header">Fortune</div>
    <div class="body">Hi my name is Forune Musonda<br></div>
  </div>
  <div class="user section2">
    <div class="header"></div>
    <div class="body">My name is Stephane Fokou, student at UMGC major Computer Science. I am a member of Group3. Our project is <strong>Library Management<br>
        System</strong> My email is <i>sfokou@umgc.student.edu</i> <br>
        Follow this link <a href="https://github.com/CMSC495-SO/CMSC495-LibraryManagementSystem/tree/master/library-view/src">visit our GitHub</a>
        </div>
  </div>
  <div class="user section3">
    <div class = "header">Benny Iko
    </div>
    <div class = "body">
      <p> former professional basketball player
        turned coder. Class of 2020.</p>
  </div>
  <div class="user section4">
    <div class="header">
      Steven Ogwuazor
    </div>
    <div class="body">
      <p>
        My name is Steven Ogwuazor. I currently work as a frontend developer for <strong>SAIC</strong> and have been working on different contracts for 5 to almost 6 years now.
        This will be my final project before I graduate and I'm looking forward to working with my team to create something memorable.
        I can be reached at email:<i>steveogwuazor@yahoo.com</i>.
      </p>
    </div>
  </div>
</div>
