<h1> About us </h1>
<div class = "about-container">
	<div class = "user section1">
		<div class = "header"></div>
		<div class = "body"></div>
		</div>
		<div class = "user section2">
		<div class = "header"></div>
		<div class = "body"></div>
		</div>
		<div class = "user section3">
		<div class = "header">Benny Iko 
		</div>
		<div class = "body">
		<p> former professional basketball player
			turned coder. Class of 2020.</p>
		</div>
		</div>
		<div class = "user section4">
		<div class = "header"></div>
		<div class = "body"></div>
		</div>
		</div>
		
	

