
<div class="homeContainer">
    <div class="menu">
      
      <div class="title">
          side bar title

      </div>
      <div class="body"> 
        <a href="#">Library</a>
        <a href="#">Catalog</a>
        <a href="#">Librarian</a>
        <a href="#">Link 4</a>
      </div>
    </div>
  
    <div class="main">
  
    <br>
    <div style="text-align: center" class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search by title or author" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  
      
      
      
      <p>The library management system is a software build to handle the primary housekeeping functions of a library. </p>
    </div>
  
    
  </div>